# Dependencies
node_modules/
**/node_modules/

# Build output
dist/
**/dist/
.next/
**/.next/

# Python
venv/
**/venv/
__pycache__/
**/__pycache__/
*.py[cod]
*.pyc
.env
.env.local
.env.production
*.egg-info/
**/*.egg-info/
.mypy_cache/
.pytest_cache/
*.egg

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Misc
*.tsbuildinfo
build/
*.pyc